<header>

  <!--Needsto be beautified and once the other pages are made reference the buttons towards those pages.
     The search needs to be implementd with an api call later on as well-->
    <nav class="navbar navbar-expand-sm border-bottom" style="background-color: #565a57">
      <div class="container">
          <!-- Button at top Left for Home-->
          <ul class="navbar-nav p-2">
            <li class="nav-item">
                <a class="btn btn-primary" href=/home>Home</a>
            </li>
          </ul>
          <!-- Centered Search bar. Not yet implemented as a form and is only a place holder.-->
          <div class="nav-item p-2  mr-auto">
            <input type="Text" placeholder="Search">
            <button type="submit" class="btn btn-light btn-sm">Search</button>
          </div>

          <!-- Button to Log Out-->
              <div class="nav-item">
                <a class="btn btn-primary" style="margin-right: 15px;" href=/logout>Log Out</a>
          </div>
        
          <!-- Button at top right for Profile-->
          <div class="nav-item ">
                <a class="btn btn-primary" href=/profile>Profile</a>
          </div>

        </div>
    </nav>
   </header>