<header>

  <!--Needsto be beautified and once the other pages are made reference the buttons towards those pages.
     The search needs to be implementd with an api call later on as well-->
    <nav class="navbar navbar-expand-sm border-bottom">
      <div class="container">
          <!-- Button at top Left for Home-->
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href=/home>Home</a>
            </li>
          </ul>
          <!-- Centered Search bar. Not yet implemented as a form and is only a place holder.-->
          <div class="nav-item ml-auto">
            <input type="Text" placeholder="Search">
            <button type="submit" class="btn btn-light btn-sm">Search</button>
          </div>
        
          <!-- Button at top right for Profile-->
          <div class="nav-item ml-auto">
                <a class="nav-link" href=/profile>Profile</a>
          </div>
        </div>
    </nav>
   </header>