/* Buff Heard CSS Stylesheet */

:root {
    --cu-boulder-gold: #CFB87C;
    --cu-boulder-black: #000000;
    --cu-boulder-dark-gray: #565A5C;
    --cu-boulder-light-gray: #A2A4A3;
  }

.buff-heard-button {
    background-color: var(--cu-boulder-light-gray);
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
