<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>


<main>
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->

    <!-- Makes the entire background a color-->
        <div class="vh" style="background-color: #CFB87C;">
          <div class="container py-5 h-100">
            <!--Div to align card to center-->
            <div class="row d-flex justify-content-center align-items-center h-100">
              <!--Sets width of the card that holds form-->
              <div class="col col-xl">
                <!-- Makes card with a radius of 16 px-->
                <div class="card" style="border-radius: 1rem;">
                  <!-- Aligns the elements in the div to center-->
                    <div class="col-md-9 col-lg-12 d-flex align-items-center">
                      <div class="card-body p-4 p-lg-5 text-black">
                        <!-- Form to process register-->
                        <form action="/insert_map" method="POST">
        
                          <div class="d-flex align-items-center mb-3 pb-1">
                            <i class="fas fa-cubes fa-2x me-3"></i>
                            <span class="h1 fw-bold mb-0">Choose Location</span>
                          </div>
                          <text>Move and zoom the map to the location you want to highlight and press the button to add a map showing that location to your post.</text>
                          <text>(Click and drag to pan, use scroll wheel to zoom, ctrl+click and drag to rotate)</text>
                          <div>Map Information:</div>

                          <div id="long_lat"></div>
                          <div id="zoom"></div>

                          <div style="min-height: 500px; display: flex; justify-content: center; ">
                            <div id="map" style="width: 500px;"></div>
                          </div>
                          <div class="pt-1 mb-4">
                            <button class="btn btn-dark btn-lg btn-block buff-heard-button"  onclick="sendMapInfo();">Add Map</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</main>
"
<script>
	// TO MAKE THE MAP APPEAR YOU MUST
	// ADD YOUR ACCESS TOKEN FROM
	// https://account.mapbox.com
	mapboxgl.accessToken = 'pk.eyJ1Ijoic2Vhbi1jYXJ0ZXIiLCJhIjoiY2xoNGV6eTI3MDN6MzNsczJib2xzcGR5cyJ9.tj8Zaup8je-h9FLi0zJQhg';
    const map = new mapboxgl.Map({
        container: 'map', // container ID
        // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
        style: 'mapbox://styles/mapbox/streets-v12', // style URL
        center: [-105.270177, 40.008391], // starting position [lng, lat]
        zoom: 16 // starting zoom
    });
  document.getElementById("long_lat").innerHTML = map.getCenter();
  document.getElementById("zoom").innerHTML = map.getZoom();

  function sendMapInfo() {
    // Set headers to proper latitude and longitude
    console.log(map.getCenter());
    console.log(map.getZoom());
    const userAction = async () => {
    var url = "/insert_map?"
      const response = await fetch('/insert_map?', {
        method: 'POST',
        body: myBody, // string or object
        headers: {
          'Content-Type': 'application/json'
        }
      });
    const myJson = await response.json(); //extract JSON from the http response
    // do something with myJson
}};
  

</script>



<!-- For some reason the map only works when the style is on post.ejs itself, instead of in our stylesheet?
Maybe we could investigate this later. It's possible that the style is only applied after the map is rendered. -->

<style>
    #map { 
        position: absolute; 
        width: 50%; 
        height: 50%;
        border:3px solid gold;
    }
</style>
"
<%- include ('../partials/footer') %>