<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<!-- Still needs to be beautified and later make sure the api call is correct once backend is done-->
<main>
    <div class="container">
      <br><br>
        <h1>Profile</h1>
        <td>CurrUser: <% currUser %></td>
    
    </div>
  </main>
  