<!-- Main HTML Code -->

<% /*- include ('../partials/header') */  %> 


<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1>Profile</h1>
        <tbody>
          <!-- <% /* queryResult.forEach(function(user){ */  %> -->
            <tr>
              <div>
                <!-- <p class="card-text"> User ID: <% /*= user.user_id */  %> </p>
                <p class="card-text"> Username: <% /*= user.username */  %> </p>
                <p class="card-text"> Profile Image: <% /*= user.profile_image */  %> </p>
                <p class="card-text"> Description: <% /*= user.description */  %> </p> -->
              </div>
            </tr>
          <!-- <% /* }); */ %> -->
        </tbody>
  </div>
</main>

<% /*- include ('../partials/footer') */  %>